In [6]:
import pandas as pd

from sqlalchemy import create_engine, text

In [2]:
RANDOM_STATE = 190224

In [3]:
db_config = {
'user': 'praktikum_student',# имя пользователя
'pwd': 'Sdf4$2;d-d30pp',# пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432,# порт подключения
'db': 'data-science-final'# название базы данных,
}

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    db_config['user'],
    db_config['pwd'],
    db_config['host'],
    db_config['port'],
    db_config['db'],
)

In [4]:
engine = create_engine(connection_string)
del db_config
del connection_string

In [20]:
data_arc = None
data_bulk = None
data_bulk_time = None
data_gas = None
data_temp = None
data_wire = None
data_wire_time = None

TABLES = [data_arc,
          data_bulk,
          data_bulk_time,
          data_gas,
          data_temp,
          data_wire,
          data_wire_time]

DB_TABLES = ['steel.data_arc',
             'steel.data_bulk',
             'steel.data_bulk_time',
             'steel.data_gas',
             'steel.data_temp',
             'steel.data_wire',
             'steel.data_wire_time']

for i, table in enumerate(TABLES):
    query = f'''
        SELECT *
        FROM {DB_TABLES[i]};
        '''

    TABLES[i] = pd.read_sql_query(query, engine)

data_arc, data_bulk, data_bulk_time, data_gas, data_temp, data_wire, data_wire_time = TABLES

In [22]:
for table in TABLES:
    print(table.info())
    print(table.sample(5))
    print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14876 entries, 0 to 14875
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   key            14876 non-null  int64
 1   BeginHeat      14876 non-null  object
 2   EndHeat        14876 non-null  object
 3   ActivePower    14876 non-null  float64
 4   ReactivePower  14876 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 581.2+ KB
None
        key BeginHeat   EndHeat  ActivePower  ReactivePower
14043  3052  02:12:51  02:18:18     1.207433       0.890490
3039    658  15:24:49  15:27:55     0.818687       0.553814
10435  2267  18:46:45  18:52:02     1.381053       0.971973
13684  2968  04:24:41  04:26:37     0.413848       0.299666
13216  2875  17:38:54  17:45:39     1.820312       1.210947


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3129 entries, 0 to 3128
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   key      3129 non-null   int64
 1   Bulk 1   252 non-null    float64
 2   Bulk 2   22 non-null     float64
 3   Bulk 3   1298 non-null   float64
 4   Bulk 4   1014 non-null   float64
 5   Bulk 5   77 non-null     float64
 6   Bulk 6   576 non-null    float64
 7   Bulk 7   25 non-null     float64
 8   Bulk 8   1 non-null      float64
 9   Bulk 9   19 non-null     float64
 10  Bulk 10  176 non-null    float64
 11  Bulk 11  177 non-null    float64
 12  Bulk 12  2450 non-null   float64
 13  Bulk 13  18 non-null     float64
 14  Bulk 14  2806 non-null   float64
 15  Bulk 15  2248 non-null   float64
dtypes: float64(15), int64(1)
memory usage: 391.2 KB
None
       key  Bulk 1  Bulk 2  Bulk 3  Bulk 4  Bulk 5  Bulk 6  Bulk 7  Bulk 8  \
271    289     NaN     NaN    36.0     NaN     NaN     NaN     NaN     NaN
750    784     NaN     NaN     NaN    41.0     NaN     NaN     NaN     NaN
2575  2673     NaN     NaN     NaN     NaN     NaN   186.0     NaN     NaN
988   1033     NaN     NaN   100.0   120.0     NaN     NaN     NaN     NaN
825    860     NaN     NaN   109.0     NaN     NaN   173.0     NaN     NaN

      Bulk 9  Bulk 10  Bulk 11  Bulk 12  Bulk 13  Bulk 14  Bulk 15
271     65.0      NaN      NaN    107.0      NaN    252.0      NaN
750      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2575     NaN      NaN      NaN      NaN      NaN    148.0      NaN
988      NaN      NaN      NaN      NaN      NaN    153.0      NaN
825      NaN      NaN      NaN    313.0      NaN    325.0    100.0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3129 entries, 0 to 3128
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   key      3129 non-null   int64
 1   Bulk 1   252 non-null    object
 2   Bulk 2   22 non-null     object
 3   Bulk 3   1298 non-null   object
 4   Bulk 4   1014 non-null   object
 5   Bulk 5   77 non-null     object
 6   Bulk 6   576 non-null    object
 7   Bulk 7   25 non-null     object
 8   Bulk 8   1 non-null      object
 9   Bulk 9   19 non-null     object
 10  Bulk 10  176 non-null    object
 11  Bulk 11  177 non-null    object
 12  Bulk 12  2450 non-null   object
 13  Bulk 13  18 non-null     object
 14  Bulk 14  2806 non-null   object
 15  Bulk 15  2248 non-null   object
dtypes: int64(1), object(15)
memory usage: 391.2+ KB
None
       key Bulk 1 Bulk 2    Bulk 3    Bulk 4 Bulk 5    Bulk 6 Bulk 7 Bulk 8  \
2171  2249   None   None      None  06:40:40   None      None   None   None
1868  1930   None   None  11:11:23      None   None  11:11:23   None   None
878    911   None   None  22:08:12      None   None  22:08:12   None   None
2862  2968   None   None  04:35:20  04:35:20   None      None   None   None
987   1031   None   None  06:02:18      None   None      None   None   None

     Bulk 9 Bulk 10 Bulk 11   Bulk 12 Bulk 13   Bulk 14   Bulk 15
2171   None    None    None  06:32:58    None  06:32:58  06:32:58
1868   None    None    None  11:04:02    None  11:04:02  11:04:02
878    None    None    None  21:55:55    None  21:55:55  21:55:55
2862   None    None    None  04:31:10    None  04:31:10  04:31:10
987    None    None    None  05:56:38    None  05:56:38  05:56:38


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3239 entries, 0 to 3238
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key     3239 non-null   int64
 1   gas     3239 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 50.7 KB
None
       key        gas
2385  2388  10.143093
1915  1918   9.856664
2428  2431   7.398654
2573  2576  22.598110
33      34  11.743691


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15907 entries, 0 to 15906
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   key          15907 non-null  int64
 1   MesaureTime  15907 non-null  object
 2   Temperature  13006 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 372.9+ KB
None
        key MesaureTime  Temperature
14367  2917    08:00:37       1547.0
3641    723    03:13:27       1608.0
15443  3140    19:01:00       1573.0
10433  2110    18:01:57       1615.0
15251  3098    13:20:44          NaN


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3081 entries, 0 to 3080
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key     3081 non-null   int64
 1   Wire 1  3055 non-null   float64
 2   Wire 2  1079 non-null   float64
 3   Wire 3  63 non-null     float64
 4   Wire 4  14 non-null     float64
 5   Wire 5  1 non-null      float64
 6   Wire 6  73 non-null     float64
 7   Wire 7  11 non-null     float64
 8   Wire 8  19 non-null     float64
 9   Wire 9  29 non-null     float64
dtypes: float64(9), int64(1)
memory usage: 240.8 KB
None
       key      Wire 1    Wire 2  Wire 3  Wire 4  Wire 5  Wire 6  Wire 7  \
2633  2767  115.140480   9.13848     NaN     NaN     NaN     NaN     NaN
2479  2606  181.403040       NaN     NaN     NaN     NaN     NaN     NaN
2091  2189  100.114563  16.10544     NaN     NaN     NaN     NaN     NaN
2690  2831  105.050400       NaN     NaN     NaN     NaN     NaN     NaN
1187  1255  156.218399       NaN     NaN     NaN     NaN     NaN     NaN

      Wire 8  Wire 9
2633     NaN     NaN
2479     NaN     NaN
2091     NaN     NaN
2690     NaN     NaN
1187     NaN     NaN


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3081 entries, 0 to 3080
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key     3081 non-null   int64
 1   Wire 1  3055 non-null   object
 2   Wire 2  1079 non-null   object
 3   Wire 3  63 non-null     object
 4   Wire 4  14 non-null     object
 5   Wire 5  1 non-null      object
 6   Wire 6  73 non-null     object
 7   Wire 7  11 non-null     object
 8   Wire 8  19 non-null     object
 9   Wire 9  29 non-null     object
dtypes: int64(1), object(9)
memory usage: 240.8+ KB
None
       key    Wire 1    Wire 2 Wire 3 Wire 4 Wire 5 Wire 6 Wire 7 Wire 8  \
1803  1893  19:26:52      None   None   None   None   None   None   None
2278  2402  19:12:32  19:25:46   None   None   None   None   None   None
745    792  18:48:26  18:49:50   None   None   None   None   None   None
920    979  07:49:45      None   None   None   None   None   None   None
757    809  09:28:51      None   None   None   None   None   None   None

     Wire 9
1803   None
2278   None
745    None
920    None
757    None